---
import { Image, getImage } from 'astro:assets'
import { getCollection, getDataEntryById } from 'astro:content'
import Page from '@/layouts/page.astro'
import { Gallery } from '@/components/gallery'
import { Card, CardContent, CardFooter, CardHeader } from '@/components/ui/card'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'

import meUrl from '@/assets/me.jpg'
import berlinUrl from '@/assets/berlin.jpeg'
import bostonUrl from '@/assets/boston.jpeg'
import brandenburgUrl from '@/assets/brandenburg.jpeg'
import brickellUrl from '@/assets/brickell.jpeg'
import brusselsUrl from '@/assets/brussels.jpeg'
import budapestCafeUrl from '@/assets/budapest-cafe.jpeg'
import budapestChurchUrl from '@/assets/budapest-church.jpeg'
import budapestOperaHouseUrl from '@/assets/budapest-opera-house.jpeg'
import budapestUrl from '@/assets/budapest.jpeg'
import chicagoUrl from '@/assets/chicago.jpeg'
import cologneUrl from '@/assets/cologne.jpeg'
import miamiBeachUrl from '@/assets/miami-beach.jpeg'
import munichResidenceUrl from '@/assets/munich-residence.jpeg'
import munichUrl from '@/assets/munich.jpeg'
import nearFrankfurtUrl from '@/assets/near-frankfurt.jpeg'
import pragueCityCenter from '@/assets/prague-city-center.jpeg'
import pragueUrl from '@/assets/prague.jpeg'
import stralsundUrl from '@/assets/stralsund.jpeg'

// const unprocessedGalleryImages = [
//   { url: berlinUrl, alt: 'Berlin' },
//   { url: bostonUrl, alt: 'Boston' },
//   { url: brandenburgUrl, alt: 'Brandenburg Gate, Berlin' },
//   { url: brickellUrl, alt: 'Brickell' },
//   { url: brusselsUrl, alt: 'Brussels' },
//   { url: budapestCafeUrl, alt: 'Cafe, Budapest' },
//   { url: budapestChurchUrl, alt: 'On top of a church, Budapest' },
//   { url: budapestOperaHouseUrl, alt: 'Opera House, Budapest' },
//   { url: budapestUrl, alt: 'Budapest' },
//   { url: chicagoUrl, alt: 'Chicago' },
//   { url: cologneUrl, alt: 'Cologne' },
//   { url: miamiBeachUrl, alt: 'Miami Beach' },
//   { url: munichResidenceUrl, alt: 'Munich Residence' },
//   { url: munichUrl, alt: 'Munich' },
//   { url: nearFrankfurtUrl, alt: 'Near Frankfurt' },
//   { url: pragueCityCenter, alt: 'City Center, Prague' },
//   { url: pragueUrl, alt: 'Prague' },
//   { url: stralsundUrl, alt: 'Stralsund' },
// ]

// TODO: https://plaiceholder.co/docs/examples/astro
const pics = await getCollection('pics')
console.log(pics[0].data.src)
const galleryItems = await Promise.all(
  pics.map(async pic => ({
    ...pic,
    image: await getImage({ src: pic.data.src }),
  }))
)

console.log(galleryItems[0].image)

const projects = await Promise.all([
  getDataEntryById('projects', 'full-stack-typescript'),
  getDataEntryById('projects', 'rug-design-portal'),
])
---

<Page>
  <main class="container mx-auto">
    <section
      class="pt-24 pb-20 flex flex-col-reverse md:flex-row justify-between gap-2"
    >
      <div>
        <header>
          <h1 class="text-4xl font-extrabold">Hi, I'm Luke Rucker :)</h1>
        </header>

        <p class="mt-5 text-muted-foreground">
          Freelance dev building for the web. Typescript fanboy. Cyclist.
        </p>

        <p class="mt-3 text-muted-foreground text-sm">
          <i data-lucide="globe" class="h-5 w-5 inline"></i> Cambridge, MA, EST
        </p>

        <footer class="mt-6">
          <a
            href="mailto:me@lukerucker.com"
            class={buttonVariants({ variant: 'default' })}
            >Say Hi <i data-lucide="mail" class="ml-2 h-5 w-5 inline"></i></a
          >

          <a href="/about" class={buttonVariants({ variant: 'secondary' })}
            >Learn More <i data-lucide="arrow-right" class="ml-2 h-5 w-5 inline"
            ></i></a
          >
        </footer>
      </div>

      <Image
        src={meUrl}
        alt="Me, Luke Rucker."
        class="rounded h-64 w-64 mb-4"
      />
    </section>
  </main>

  <section class="mb-20">
    <header>
      <h2>
        <span class="sr-only">Gallery</span>
      </h2>

      <p class="sr-only">Some pictures I've taken. Shot on my iPhone 13 Pro.</p>
    </header>

    <Gallery items={galleryItems} client:load />
  </section>

  <section class="container mx-auto mb-20">
    <header class="mb-4">
      <h2 class="flex items-center">
        <i data-lucide="briefcase" class="mr-2.5 h-6 w-6 inline"></i>
        <span class="text-xl font-semibold">Work</span>
      </h2>

      <p class="mt-2 text-muted-foreground">
        I currently work as a freelancer doing Full Stack Web Dev for different
        stages of teams and products. I particuarly enjoy the challenges of
        working with small teams, taking a product from idea to the world.
        <a href="/work" class="underline">Read more</a>
      </p>
    </header>

    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      {
        projects.map(project => (
          <li>
            <a href="/work">
              <Card>
                <CardHeader>
                  <h3>{project.data.title}</h3>
                </CardHeader>

                <CardContent>
                  <p class="line-clamp-5">{project.data.description}</p>
                </CardContent>

                <CardFooter className="gap-1.5 flex-wrap">
                  {project.data.tech.map(tech => (
                    <Badge>{tech}</Badge>
                  ))}
                </CardFooter>
              </Card>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Page>
