---
import { Badge } from '@/components/ui/badge'
import type { CollectionEntry } from 'astro:content'
import ImageWithBlurhash from '@/components/image-with-blurhash.astro'
import { ExpandableText } from '@/components/expandable-text'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
const { Content } = await project.render()
---

<ImageWithBlurhash
  src={project.data.cover}
  alt={project.data.coverAlt}
  className="max-h-60 rounded-lg"
  containerClassname="rounded-lg"
/>

<h4 class="text-3xl font-semibold mt-8 mb-4">{project.data.title}</h4>

<p class="sr-only">Technologies:</p>
<ul class="flex flex-wrap gap-x-1.5 gap-y-2">
  {
    project.data.tech.map(tech => (
      <li>
        <Badge>{tech}</Badge>
      </li>
    ))
  }
</ul>

<ExpandableText preview={project.data.preview} client:load>
  <Content />
</ExpandableText>
